@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

button{
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    /* color: white; */
}

header a {
    color: white;
}

header {
    color: white;
}

.main-part {
    background-color: black;
}


header {
    padding-top: 40px;
    background-color: black;

}


.navbar {
    display: flex;
    width: 76%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 50px;

}

.nav-list>li {
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    font-weight: 300;
    font-size: 1.2rem;
}

.navbar h3 {
    font-weight: 800;
    color: #E6533C;
    font-style: italic;
    font-size: 2.25rem;
}


#home {
    padding: 8px 20px;
    background-color: #E6533C;
    border-radius: 46px;
}

.main-head {
    width: 76%;
    margin: 0 auto;
}

.main-head {
    display: flex;
}

#run-btn {
    margin-top: 25px;
    font-size: 1rem;
    padding: 18px 70px;
}


/* ------------------- */


.head-title {
    font-size: 4.9rem;
}

.shape {
    font-size: 10rem;
    font-weight: 100;
    line-height: 10%;
    font-family: 'Miama', sans-serif;
    padding-right: 10px;
}

.p-primary {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
}

.btn-primary {
    background-color: #E6533C;
    padding: 16px 40px;
    border-radius: 42px;
    font-size: 1.1rem;
    font-weight: 400;
    margin-right: 20px;
    margin-top: 10px;
    color: white;

}

.change-your-habits {
    color: white;
}

.run-extra {
    color: white;
}

.bmi-calculator-intro {
    color: white;
    margin-bottom: 40px;
    margin-top: 40px;
}

.bmi-left {
    color: white;
}

.bmi-right h3 {
    color: white;
}

#btn-2 {
    background-color: black;
    border: 1px solid white;
}

.left-head {
    width: 60%;
    margin-right: 80px;
    margin-top: 96px;
}

.left-head h1 {
    margin-bottom: 28px;
}

.left-head p {
    margin-bottom: 28px;
    max-width: 520px;
}

.right-head {
    width: 35%;
    position: relative;
}

.head-image img {
    width: 100%;
    margin-top: 30px;
}

.btn-secondary1 {
    /* border: 2px solid red; */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    text-align: left;
    width: 193px;
    height: 90px;
    padding-top: 20px;
    padding-left: 40px;
    position: absolute;
    z-index: 2;
    left: 280px;
    top: 190px;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.1);

}


.btn-secondary1 h2 {
    font-size: 2.6rem;
    line-height: 40px;
    font-weight: 900;
    padding-bottom: 10px;
}

.btn-secondary1 p {
    font-size: .9rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);

}


.btn-secondary2 {
    border: 2px solid red;
    background: rgba(48, 48, 48, 0.427);
    border-radius: 12px;
    text-align: left;
    width: 200px;
    height: 100px;
    padding-top: 20px;
    padding-left: 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: absolute;
    bottom: 80px;
    backdrop-filter: blur(10px);
    right: 300px;
    display: flex;
    justify-content: center;
    align-items: center;



}



.btn-secondary2 h2 {
    font-size: 1.5rem;
    line-height: 40px;
    font-weight: 900;
    /* margin-bottom: 20px; */
}

.btn-secondary2 p {
    font-size: .9rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);
    margin-bottom: 30px;

}


#icon1 {
    margin-bottom: 20px;
    margin-left: -50px;
}


.hamburger {
    display: none;
}


/* -------------- */

.habit-content {
    text-align: center;
    padding: 50px;
}

.habit-content h2 {
    font-size: 3rem;
}

.habit-content p {
    color: rgba(255, 255, 255, 0.5);
    font-size: .9rem;
    font-weight: 400;
    margin-top: 20px;
}

.habit-images-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-bottom: 100px;
}

.habit-images img {
    border-radius: 50%;
}

.habit-images {
    text-align: center;
}

.habit-images h4 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.habit-images p {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: .9rem;
    font-weight: 400;
    margin-top: 20px;
}



.change-your-habits {
    width: 76%;
    margin: 0 auto;
}



@media screen and (max-width:576px) {
    .habit-images-section {
        flex-direction: column;
        grid-template-columns: 1fr;
        gap: 20px;
        padding-bottom: 100px;
    }

    .habit-content {
        /* text-align: center; */
        padding: 50px 0px;
    }

    .habit-content h2 {
        font-size: 2.2rem;
    }

    .habit-content p {
        color: rgba(255, 255, 255, 0.5);
        font-size: .9rem;
        font-weight: 400;
        margin-top: 20px;
    }

}








.run-right img {
    width: 100%;
}

.run-extra {
    width: 76%;
    margin: 0 auto;
    display: flex;
    gap: 150px;
    align-items: center;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 50px;
}

.run-left h2 {
    font-size: 3rem;
    font-weight: 900;
}

.run-left p {
    color: rgba(255, 255, 255, 0.5);
    font-size: .9rem;
    font-weight: 400;
    margin-top: 20px;
    /* padding-bottom: 100px; */
}

.run-right img {
    border-radius: 18px;
}



@media screen and (max-width:576px) {
    .run-extra {
        flex-direction: column;
        grid-template-columns: 1fr;
        gap: 20px;
        padding-bottom: 50px;
        padding-right: 40px;
        padding-left: 40px;
    }

    .run-left {
        text-align: left;
        padding: 10px;
    }

    #run-btn {
        margin-top: 25px;
        font-size: 1rem;
        padding: 15px 100px;
    }

}






.bmi-calculator-intro {
    text-align: left;
    padding: 50px 0px;
    margin-left: 450px;
}

.bmi-calculator-intro h2 {
    font-size: 3rem;
}

.bmi-calculator-intro p {
    color: rgba(255, 255, 255, 0.5);
    font-size: .9rem;
    font-weight: 400;
    margin-top: 20px;
}

#calcu-btn {
    padding: 10px 40px;
    font-size: 1rem;
}


.bmi-calculator-main {
    background: rgb(34, 34, 34);
    padding: 50px;
}

.bmi-content {
    width: 78%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}



.bmi-left h3,
.bmi-right h3 {
    font-size: 1.8rem;
}

.bmi-right p {
    color: rgba(255, 255, 255, 0.5);
    font-size: .9rem;
    font-weight: 400;
    margin-top: 20px;
}


table,
th,
td {
    border: 1px solid #777777;
    padding: 15px;
    text-align: left;
}

table td {
    color: #777777;
    font-weight: 400;
    font-size: .9rem;

}


table {
    border-collapse: collapse;
}

.bmi-left {
    width: 45%;
    margin-left: 100px;
}

.bmi-right {
    width: 45%;
}

.form-div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

.input-div {
    width: 49%;
}

.input-div>input,
select {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 40px 12px 20px;
    width: 70%;
    margin: 5px 0px;
}

.input-div>select {
    width: 94%;
    color: rgba(255, 255, 255, 0.6);
}

#last-ta {
    margin-top: 5px;
    width: 193%;
    margin-left: 3px;
}


input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}


@media screen and (max-width:576px) {
    .bmi-calculator-intro {
        text-align: left;
        padding: 50px 0px;
        margin-left: 30px;
    }

    .bmi-content {
        flex-direction: column;
        grid-template-columns: 1fr;
    }

    .bmi-right {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        gap: 0px;
    }

    .bmi-left {
        width: 100%;
        margin-left: 0px;
    }

    .bmi-calculator-main {
        padding-left: 0px;
    }

    .bmi-left h3 {
        font-size: 1.5rem;
        margin-bottom: 30px;
    }

    .bmi-right h3 {
        margin-top: 30px;
        font-size: 1.5rem;
    }

    table,
    th,
    td {
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px
    }


    .input-div>input,
    select {
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.1);
        padding: 12px 40px 12px 20px;
        width: 60%;
        margin: 5px 0px;
    }

    .form-div {
        display: flex;
        flex-wrap: wrap;
        width: 128%;
        margin-top: 15px;
    }

    #last-ta {
        margin-top: 5px;
        width: 246%;
        margin-left: 3px;
    }

    #calcu-btn {
        padding: 15px 50px;
        font-size: 1.2rem;
    }
}



.team {
    color: white;
    width: 76%;
    margin: 0 auto;
    text-align: center;
    padding: 70px;
    /* background-color: red; */
}

.team-pic img {
    height: 90%;
}

.team-pic img {
    width: 100%;
    /* height: 85%; */
    border-radius: 18px;
}

.team-pic {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    /* background-color: red; */
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1)
}

.team-content h3 {
    font-size: 3rem;
}

.team-content p {
    color: rgba(255, 255, 255, 0.5);
    font-size: .9rem;
    font-weight: 400;
    margin-top: 20px;

    margin-bottom: 60px;
}

#det-left {
    text-align: left;
}

.details {
    position: relative;
}


.trainer-name {
    position: absolute;
    bottom: 40px;
    left: 20px;
}

.trainer-name h4 {
    font-size: 1.4rem;
}

.trainer-name p {
    font-size: .9rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;

}




@media screen and (max-width:576px) {
    #hide-pic{
        display: none;
    }
    .team-pic {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 20px;
        /* background-color: red; */
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .team {
        padding: 20px 0px;

    }

    .team-content h3 {
        font-size: 2.3rem;
        margin-top: 20px;
    }

    .team-content p {

        margin-bottom: 40px;
    }


}


.my-wish {

    width: 76%;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    display: flex;
    padding-top: 130px;
    padding-bottom: 130px;
    border-radius: 18px;
    background-color: rgba(244, 227, 233, 1);
    padding-left: 50px;

}

.pic-and-name {
    display: flex;
    gap: 10px;

}

.pic-and-name img {
    width: 59px;
    height: 57px;
    gap: 0px;
    border-radius: 50%;

}

.pn-cont {
    margin-top: 10px;
}

.wish-title {
    font-size: 3rem;
    font-weight: 600;
    margin-left: 100px;
    color: black;
}

.wish-caption {
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 100px;
    color: black;
}

.feedback-1 {
    margin-top: 50px;
    margin-left: 50px;
    width: 70%;
    padding-left: 20px;
    padding-right: 20px;
    height: 70%;
    gap: 0px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.829);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}


.feedback-2 {
    width: 80%;
    height: 50%;
    gap: 0px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.829);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    margin-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

.feedback-3 {
    width: 70%;
    height: 50%;
    gap: 0px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.829);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;

}



.feedback-title {
    font-size: 2.5rem;
    font-weight: 600;
}

.feedback-para {
    font-weight: 400;
    font-size: 1.2rem;
}

.feedback {
    padding-top: 50px;
    padding-bottom: 100px;
}

.last-section {
    background-color: rgb(34, 34, 34);
}

@media screen and (max-width:576px) {
    .my-wish {
        flex-direction: column;

        /* color: rgb(255, 255, 255); */
        /* display: flex; */
        padding-top: 30px;
        padding-bottom: 50px;
        border-radius: 18px;
        /* background-color: rgba(244, 227, 233, 1); */
        padding-left: 15px;

    }

    .wish-title {
        font-size: 2rem;
        margin-left: 9px;
        text-align: center;
        /* color: black; */
    }

    .wish-caption {
        font-size: 1.2rem;
        font-weight: 400;
        margin-left: 10px;
        text-align: center;
        margin-top: 10px;
        /* color: black; */
    }

    .feedback-1 {
        margin-top: 30px;
        margin-left: 30px;
        margin-bottom: 30px;
        padding-bottom: 30px;
        padding-top: 30px;
    }

    .feedback-2 {
        width: 70%;
        margin-top: 30px;
        margin-left: 30px;
        margin-bottom: 30px;
        padding-bottom: 30px;
        padding-top: 30px;
    }

    .feedback-3 {
        margin-top: 30px;
        margin-left: 30px;
        margin-bottom: 30px;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    
}



.about-us {
    padding-top: 50px;
    color: white;
    display: flex;
    width: 78%;
    margin: 0 auto;
    /* padding: 50px 200px; */
    /* background: rgba(255, 255, 255, 0.1); */
    /* justify-content: space-around; */
    align-items: center;
    position: relative;
    gap: 200px;

}

.fitness {
    width: 48%;
    padding-right: 100px;

}

.fitness h2 {
    font-size: 4.2rem;
    font-weight: 800;
    font-style: italic;
    color: rgb(230, 83, 60);
}

.fitness p {
    color: rgba(255, 255, 255, 0.5);
    font-size: .9rem;
    font-weight: 400;
}

.get-started {
    width: 80%;
    margin-top: 20px;
}

.get-parent {
    display: flex;
    gap: 20px;
}


.get-title {
    font-size: 2rem;
    font-weight: 700;
}

.get-para {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 40px;
}

.get-left {
    margin-right: 100px;
}

.line {
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    width: 72%;
    margin: 0 auto;
    position: absolute;
    /* top: 100px; */
    top: 4950px;
    left: 178px;
    /* border: 2px solid red; */
}

.copyright {
    /* color: white; */
    /* color: rgba(255, 255, 255, 0.5); */
    text-align: center;
    padding: 40px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    padding-top: 90px;
}

@media screen and (max-width:576px) {

    .about-us, .get-parent {
        /* padding-top: 50px; */
        /* color: white; */
        flex-direction: column;
        width: 100%;
        /* margin: 0 auto; */
        padding: 40px 0px;
        /* background: rgba(255, 255, 255, 0.1); */
        /* justify-content: space-around; */
        /* align-items: center; */
        position: relative;
        gap: 0px;
    }

    .fitness {
        width: 75%;
        padding-right: 20px;
    }

    .fitness p {
        font-weight: 300;
        line-height: 25px;
        margin-top: 16px;
    }

    .line {
        /* border-top: 2px solid rgb(255 0 0); */
        width: 90%;
        position: absolute;
        /* top: 100px; */
        /* color: red; */
        top: 8170px;
        left: 20px;
    }

    .get-started {
        width: 80%;
        margin-top: 0px;
    }

    #weight{
        width: 51%;
    }

    .get-left {
        margin-bottom: 20px;
    }

    .get-title {
        margin-bottom: 20px;
    }
    .copyright {
        padding-top: 20px;
    }


}


@media screen and (max-width: 576px) {
    .nav-list {
        display: none;
    }

    .hamburger {
        display: block;
        cursor: pointer;

    }

    .hamburger i {
        display: block;
        font-size: 25px;
    }

    .main-head {
        flex-direction: column;
    }

    .btn-secondary1 {
        left: 0;
        right: 0;
        top: 50px;
    }

    .btn-secondary1 {
        max-width: 140px;
        height: 50px;
        left: 180px;
        top: 80px;
        padding: 15px 15px;
        text-align: left;
        margin-left: 15px;

    }

    .btn-secondary1 h2 {
        font-size: 1.8rem;
        line-height: 7px;
        font-weight: 900;
        margin-top: 10px;
        padding-bottom: 15px;
    }

    .btn-secondary1 p {
        font-size: .8rem;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.65);

    }

    .p2 {
        width: 70% !important;
    }

    .btn-secondary2 {
        right: 0;
        max-width: 130px;
        height: 20px;
        bottom: 220px;
        right: 210px;
        padding: 20px 20px;

    }

    .btn-secondary2 h2 {
        font-size: 1rem;
        line-height: 20px;
        font-weight: 900;
        margin-top: 30px;
        margin-left: 19px;
    }

    .btn-secondary2 p {
        font-size: .7rem;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.65);
        padding-bottom: 5px;
        text-align: right;


    }

    #icon1 {
        font-size: 22px !important;
        padding-left: 40px;
        margin-top: 20px;
    }

    .left-head {
        width: 100%;
    }

    .btn-primary {
        background-color: #E6533C;
        padding: 12px 27px;
        border-radius: 42px;
        font-size: .8rem;
        font-weight: 400;
        margin-right: 20px;
        margin-top: 10px;

    }

    .right-head {
        width: 100%;
    }

    .p2 {
        justify-items: center;
    }


    .head-title {
        margin-top: -30px;
        font-size: 3rem;
    }

    .shape {
        font-size: 7rem;
        font-weight: 100;
        line-height: 10%;
        font-family: 'Miama', sans-serif;
        padding-right: 10px;
    }

    .bmi-calculator-intro h2 {
        font-size: 2.5rem;
    }



}